@model CmsArticleList

@{
	Layout = "~/Views/Shared/_secondLayout.cshtml";
	ViewBag.Title = Model.CategoryName;
}

<div class="main_content">
	<div class="container">
		<h1 class="page_header">@Model.CategoryName</h1>
		<div class="dop_news_elems news_page">

			@foreach(var item in Model.Articles)
			{
				<div class="dop_news_elem">
					<div class="dop_news_elem_img">
						<img src="@CmsSettings.BaseDomain@item.Image" alt="">
					</div>
					<div class="dop_news_elem_info">
						<span class="dop_news_elem_date">@item.PublishDate</span>
						<span class="dop_news_elem_views right"><img src="~/Content/img/eye.png" alt="">@item.ViewCount</span>
					</div>
					<div class="dop_news_elem_href"><a href="/@CurrentCulture.Name.ToLower()/articles/item/@item.Id/@item.UrlName">@item.Title</a></div>
				</div>
			}

			@Helpers.LinkPager("/" + CurrentCulture.Name.ToLower() + "/articles/category/" + Model.CategoryUrl + "/", null, Model.Count, Model.Page, 9)

		</div>
	</div>
</div>