@model CmsArticle
@{
	ViewBag.Title = Model.Title;
	Layout = "~/Views/Shared/_secondLayout.cshtml";
}


<div class="main_content">
	<div class="container">

		<div class="main_content_left">
			<div class="inform_container_left">

				<div class="main_new">
					<img src="@CmsSettings.BaseDomain@Model.Image" alt="">
					<div class="main_new_info">
						<div class="main_new_date">@Model.PublishDate</div>
						<a href="#">
							@Model.Title
						</a>
					</div>
				</div>

				@if(ViewBag.isAdmin)
				{
					<a href="/uk/controlpanel/articles?id=@Model.Id" class="btn-warning">Редагувати</a>
				}

				<div class="new_item_content">

					@Html.Partial("_prtContent", Model.ContentRows)

					<div class="news_share">
						Поширити у соціальних мережах:
						<a href="#"><img src="~/Content/img/facebook.png" alt=""></a>
						<a href="#"><img src="~/Content/img/twitter_blue.png" alt=""></a>
					</div>

				</div>

			</div>
		</div>

		@Html.Action("LastGeneralNews", "Articles", new { url = "general-news", count = 6 })

		@Html.Action("LastSecondNews", "Articles", new { url = "main-news-2", count = 3 })

	</div>
</div>
<script>
	$(function () {
		coreUtils.createPage($(".cms-content"));
	});
</script>
