@model MkIndex

<div class="container index">
    <div class="block">
        <div class="right-content">
            @Html.Action("GetMajorLast", "Widgets", new { Area = String.Empty, Url = "mayor" })
            <div class="yellow-banner">
                <a href="/@CurrentCulture.Name.ToLower()/page/onlajn-translyacii">
                    <i class="fa fa-fw fa-play"></i>
                    <span>Наради онлайн</span>
                </a>
            </div>
            <div class="calendar">
                <div class="links">
                    <a href="/@CurrentCulture.Name.ToLower()/articles/category/novini">Останні</a>
                    <a href="/@CurrentCulture.Name.ToLower()/articles/category/vazhlivi">Важливі</a>
                    <a href="/@CurrentCulture.Name.ToLower()/articles/category/svyata">Свята</a>
                </div>
                <div class="title">
                    Календар подій
                </div>
                <div class="date">
                    <input type="text" class="date-input bs-datepicker" placeholder="Виберіть дату" readonly="readonly" />
                    <i class="fa fa-calendar"></i>
                </div>
            </div>
        </div> 
        <div class="left-content">
            <div class="row">
                <div class="col-sm-8">
                    <div class="cms-article-item news-of-day">
                        <a href="/@CurrentCulture.Name.ToLower()/articles/item/@Model.MainNews[0].Id/@Model.MainNews[0].UrlName">
                            <div class="img" style="background-image:url('@(!String.IsNullOrEmpty(Model.MainNews[0].Image) ? (CmsSettings.BaseDomain + Model.MainNews[0].Image) : "/Content/img/parts/default-img-4x3.png" )');"></div>
                            <span class="item-label"><span>Новина дня</span></span>
                            <div class="text">
                                <div class="date">@Model.MainNews[0].PublishDate</div>
                                <div class="title">@Model.MainNews[0].Title</div>
                                <div class="desc">@Model.MainNews[0].Description</div>                                
                            </div>
                        </a>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="cms-article-item vertical">
                        <a href="/@CurrentCulture.Name.ToLower()/articles/item/@Model.MainNewsSecond[0]/@Model.MainNewsSecond[0].UrlName">
                            <div class="img" style="background-image:url('@(!String.IsNullOrEmpty(Model.MainNewsSecond[0].Image) ? (CmsSettings.BaseDomain + Model.MainNewsSecond[0].Image) : "/Content/img/parts/default-img-4x3.png" )');"></div>
                            <div class="text">
                                <div class="date">@Model.MainNewsSecond[0].PublishDate</div>
                                <div class="title">@Model.MainNewsSecond[0].Title</div>
                                <div class="desc">@Model.MainNewsSecond[0].Description</div>                                
                            </div>
                        </a>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-6">
                    <div class="cms-article-item fixed sm">
                        <a href="/@CurrentCulture.Name.ToLower()/articles/item/@Model.MainNewsSecond[1]/@Model.MainNewsSecond[1].UrlName">
                            <div class="img" style="background-image:url('@(!String.IsNullOrEmpty(Model.MainNewsSecond[1].Image) ? (CmsSettings.BaseDomain + Model.MainNewsSecond[1].Image) : "/Content/img/parts/default-img-4x3.png" )');"></div>
                            <div class="text">
                                <div class="date">@Model.MainNewsSecond[1].PublishDate</div>
                                <div class="title">@Model.MainNewsSecond[1].Title</div>
                                <div class="desc">@Model.MainNewsSecond[1].Description</div>                                
                            </div>
                        </a>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="cms-article-item fixed sm">
                        <a href="/@CurrentCulture.Name.ToLower()/articles/item/@Model.MainNewsSecond[2]/@Model.MainNewsSecond[2].UrlName">
                            <div class="img" style="background-image:url('@(!String.IsNullOrEmpty(Model.MainNewsSecond[2].Image) ? (CmsSettings.BaseDomain + Model.MainNewsSecond[0].Image) : "/Content/img/parts/default-img-4x3.png" )');"></div>
                            <div class="text">
                                <div class="date">@Model.MainNewsSecond[2].PublishDate</div>
                                <div class="title">@Model.MainNewsSecond[2].Title</div>
                                <div class="desc">@Model.MainNewsSecond[2].Description</div>                                
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </div>        
    </div>
    <div class="rel white">
        <div class="row">
            <div class="col-lg-9 col-md-12">
                <div class="cms-icon-categories">
                    <div class="title">
                        Розумний регіон: Е-сервіси Миколаївщини
                    </div>

                        @foreach (var item in Model.ServiceMenu.Items.Batch(4))
                        {
                            <div class="row">
                                <div class="col-sm-6">
                                    <div class="row">
                                        @foreach (var cat in item.Take(2))
                                        {
                                            <div class="col-sm-6 col-xs-6">
                                                <a href="@cat.Url" class="widget-icon-category">
                                                    <div>
                                                        <img src="http://@(CmsSettings.BaseDomain + cat.Image)" />
                                                        <span>
                                                            <span>
                                                                @cat.Title
                                                            </span>
                                                        </span>
                                                    </div>
                                                </a>
                                            </div>
                                        }
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="row">
                                        @foreach (var cat in item.Skip(2))
                                        {
                                            <div class="col-sm-6 col-xs-6">
                                                <a href="@cat.Url" class="widget-icon-category">
                                                    <div>
                                                        <img src="http://@(CmsSettings.BaseDomain + cat.Image)" />
                                                        <span>
                                                            <span>
                                                                @cat.Title
                                                            </span>
                                                        </span>
                                                    </div>
                                                </a>
                                            </div>
                                        }
                                    </div>
                                </div>
                            </div>
                        }
                </div>
            </div>
            <div class="col-lg-3 col-md-12">
                <div class="hotline-info">
                    <div class="row">
                        <div class="col-lg-12 col-md-3">
                            <div class="title">
                                <strong>Гаряча лінія</strong>
                                <span>ОЛЕКСІЯ САВЧЕНКО</span>
                            </div>
                        </div>
                        <div class="col-lg-12 col-md-3">
                            <div class="info">
                                УСЕ НА БЛАГО ГРОМАДИ!
                            </div>
                        </div>
                        <div class="col-lg-12 col-md-3">
                            <div class="number">
                                0 800 502 191
                            </div>
                        </div>
                        <div class="col-lg-12 col-md-3">
                            <div class="icons">
                                <a href="#" class="icon">
                                    <i class="fa fa-fw fa-envelope-o"></i>
                                </a>
                                <a href="#" class="icon">
                                    <i class="fa fa-fw fa-phone"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>        
    </div>
    <div class="rel">
        <div class="cms-icon-categories">
            <div class="title">
                Корисна інформація
            </div>
            
                @foreach (var item in Model.ThemeMenu.Items.Batch(4))
                {
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="row">
                                @foreach (var cat in item.Take(2))
                                {
                                    <div class="col-sm-6 col-xs-6">
                                        <a href="@cat.Url" class="widget-icon-category">
                                            <div>
                                                <img src="http://@(CmsSettings.BaseDomain + cat.Image)" />
                                                <span>
                                                    <span>
                                                        @cat.Title
                                                    </span>
                                                </span>
                                            </div>
                                        </a>
                                    </div>
                                }
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="row">
                                @foreach (var cat in item.Skip(2))
                                {
                                    <div class="col-sm-6 col-xs-6">
                                        <a href="@cat.Url" class="widget-icon-category">
                                            <div>
                                                <img src="http://@(CmsSettings.BaseDomain + cat.Image)" />
                                                <span>
                                                    <span>
                                                        @cat.Title
                                                    </span>
                                                </span>
                                            </div>
                                        </a>
                                    </div>
                                }
                            </div>
                        </div>
                    </div>
                }
            </div>

        

    </div>
    <div class="rel">
        <div class="row">
            <div class="col-lg-9 col-sm-8">
                <div class="row">
                    <div class="col-sm-3">
                        <div class="cms-icon-categories">
                            <div class="title">
                                Міста
                            </div>
                            <div class="row">
                                @foreach (var cat in Model.CityMenu.Items)
                                {
                             
                                                    <div class="col-sm-12">
                                                        <a href="@cat.Url" class="widget-icon-category">
                                                            <div>
                                                                <img src="http://@(CmsSettings.BaseDomain + cat.Image)" />
                                                                <span>
                                                                    <span>
                                                                        @cat.Title
                                                                    </span>
                                                                </span>
                                                            </div>
                                                        </a>
                                                        </div>
                                        
                                }
                            </div>

                        </div>
                    </div>
                    <div class="col-sm-9">
                        <div class="cms-icon-categories">
                            <div class="title">
                                Райони миколаївської області
                            </div>
                            <div class="row">
                                @foreach (var cat in Model.AreaMenu.Items)
                                {
                                    
                                                
                                                    <div class="col-sm-4">
                                                        <a href="@cat.Url" class="widget-icon-category">
                                                            <div>
                                                                <img src="http://@(CmsSettings.BaseDomain + cat.Image)" />
                                                                <span>
                                                                    <span>
                                                                        @cat.Title
                                                                    </span>
                                                                </span>
                                                            </div>
                                                        </a>
                                                    </div>
                                                                                  
                                }
                            </div>

                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-sm-4">
                <div class="area-news">
                    <div class="title">
                        Новини міст та районів Миколаївщини
                    </div>
                    <div class="row">
                        @foreach (var item in Model.AreaNews)
                        {
                            <div class="col-lg-12 col-sm-4">
                                <div class="cms-article-item fixed sm">
                                    <a href="/@CurrentCulture.Name.ToLower()/articles/item/@item.Id/@item.UrlName">
                                        <div class="img" style="background-image:url('@(!String.IsNullOrEmpty(item.Image) ? (CmsSettings.BaseDomain + item.Image) : "/Content/img/parts/default-img-4x3.png" )');"></div>
                                        <div class="text">
                                            <div class="date">@item.PublishDate</div>
                                            <div class="title">@item.Title</div>
                                            <div class="desc">@item.Description</div>
                                        </div>
                                    </a>
                                </div>
                            </div>                            
                        }                                              
                    </div>
                    <div class="link">
                        <a href="#">
                            Переглянути всі
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>