
@model List<Bissoft.CouncilCMS.BLL.ViewModels.Public.CmsPoll>

<div class="voting">
	<span class="block-title block-decor-bottom">Опитування населення</span>
	<div class="test-list">

		@foreach(var item in Model)
		{
			if(item.IsActive)
			{
				<div class="test-item" id="@item.Id">
					<span class="title block-decor-bottom">@item.Title</span>
					<div class="test-date">
						<p class="date">
							Термiн голосування:
							<span>
								@item.DateFrom - @item.DateTo
							</span>
						</p>
						<p class="voted">
							Усього голосiв:
							<span>
								@item.VoiсeCount
							</span>
						</p>
					</div>

					<div>

						@foreach(var quest in item.CmsQuestions)
						{
							<div class="test-choice">
								<label>
									<input type="radio" id="@quest.Id" name="vote-@item.Id">
									<span></span>@quest.Title
								</label>
								<div class="vote">
									<div class="vote-strip">

									</div>
									<p class="vote-people"></p>
								</div>
							</div>
						}

						<input class="btn btn-success" style="float:right;" type="submit" id="@item.Id" value="Проголосувати" />
					</div>
				</div>
			}

			else
			{
				<div class="test-item" id="@item.Id">
					<span class="title block-decor-bottom">@item.Title</span>
					<div class="test-date">
						<p class="date">
							@if(DateTime.ParseExact(item.DateTo, "MM/dd/yyyy", null) <= DateTime.Now)
							{
								<div> Голосування було закрито:</div>
								<span>
									@item.DateTo
								</span>
							}
							else
							{
								<div> Ви вже проголосували</div>
							}
						</p>
						<p class="voted">
							Усього голосiв:
							<span>
								@item.VoiсeCount
							</span>
						</p>
					</div>
					<div>

						@foreach(var quest in item.CmsQuestions)
						{
							<div class="test-choice">
								<label>
									@quest.Title
								</label>
								<div class="vote">
									<div class="vote-strip">
										<span style="width:@((int)quest.Percent)%; background-color:@quest.Color;"></span>
									</div>
									<p class="vote-people">
										<span class="vote-percent">@quest.Percent.ToString("#.00")%</span>
										<span class="vote-number">(@quest.CheckCount)</span>
									</p>
								</div>
							</div>
						}

					</div>
				</div>
			}
		}

		<a href="/poll/poll" class="site-btn">Сторінка опитувань</a>
	</div>
</div>
