@model CmsChangePassword


@using (Ajax.BeginForm(new AjaxOptions()
{
    Url ="/uk/controlpanel/account/changepassword",
    HttpMethod = "POST",
    OnBegin = "coreUtils.disableButton($(this).find('button[type=submit]'));",
    OnComplete = "window.saveContainerComplete();",
    UpdateTargetId = "divChangePasswordForm",
    InsertionMode = InsertionMode.Replace
}))
{
   
    <div class="modal-title">
        Змінити пароль
    </div>
    
    @Html.SimplePasswordFor(x => x.OldPassword, "Старий пароль", new { @class = "form-control" })
    @Html.SimplePasswordFor(x => x.NewPassword, "Новий пароль", new { @class = "form-control" })
    @Html.SimplePasswordFor(x => x.NewPasswordConfirm, "Новий пароль ще раз", new { @class = "form-control" })

    @Html.ValidationMessage("WrongPassword")

    <div class="modal-footer">
        <a href="#" type="button" class="btn btn-link" data-dismiss="modal">
            @Locals.Close
        </a>
        <button type="submit" class="btn btn-primary">
            @Locals.Save
        </button>
    </div>
}