@model MkIndex

<div class="inform_container">
	<div class="container">
		<div class="inform_container_left">
			<div class="inform_imigrant_name"><a href="/uk/articles/category/immigrations-news/">Для переселенців</a></div>
			<div class="inform_imigrant_elems">
				@foreach(var item in Model.ImmigrationsNews)
				{
					<div class="inform_imigrant_elem">
						<div class="inform_imigrant_elem_name"><a href="/uk/articles/item/@item.Id/@item.UrlName">@item.Title</a></div>
						<div class="inform_imigrant_elem_text">@item.Description</div>
					</div>
				}
			</div>
		</div>
		<div class="inform_container_right">
			<div class="inform_imigrant_name"><a href="/uk/articles/category/famalies-news/">Сім’ям</a></div>
			<div class="inform_container_right_block">
				<ul>
					@foreach(var item in Model.FamaliesNews)
					{
						<li><a href="/uk/articles/item/@item.Id/@item.UrlName">@item.Title</a></li>
					}
				</ul>
				<div class="inform_container_link"><a href="/uk/articles/category/famalies-news/">Переглянути увесь перелік</a></div>
			</div>
		</div>
	</div>
</div>

<div class="news_container">
	<div class="container">
		<div class="inform_imigrant_name"><a href="/uk/articles/category/news/">Новини</a></div>
		<div class="news_elems">
			<div class="inform_container_left">
				<div class="main_new">
					@foreach(var item in Model.MainNews)
					{
						<img src='@(CmsSettings.BaseDomain + item.Image)' />
						<div class="main_new_info">
							<div class="main_new_date">@item.PublishDate</div>
							<a href="/@CurrentCulture.Name.ToLower()/articles/item/@item.Id/@item.UrlName">
								@item.Description
							</a>
						</div>
					}
				</div>
				<div class="sub_news_elems">
					@foreach(var item in Model.MainNewsSecond)
					{
						<div class="sub_news_elem">
							<div class="sub_news_elem_info">
								<div class="sub_news_elem_name"><a href="/@CurrentCulture.Name.ToLower()/articles/item/@item.Id/@item.UrlName">@item.Description</a></div>
								<div class="sub_news_elem_date">@item.PublishDate</div>
							</div>
							<div class="sub_news_elem_photo">
								<img src='@(CmsSettings.BaseDomain + item.Image)' />
							</div>
						</div>
					}
				</div>
			</div>
			<div class="inform_container_right">
				<div class="news_right_col">
					@foreach(var item in Model.GeneralNews)
					{
						<div class="news_right_col_elem">
							<div class="news_right_col_elem_date">@item.PublishDate</div>
							<div class="news_right_col_elem_name"><a href="/@CurrentCulture.Name.ToLower()/articles/item/@item.Id/@item.UrlName">@item.Title</a></div>
						</div>
					}
				</div>
			</div>
		</div>
	</div>
</div>

<div class="ready_help_container" style="background: url(@CmsSettings.BanerImage) no-repeat top center; background-size: 100%;">
	<div class="container">
		<div class="ready_help_left_block">
			<div class="ready_help_left_block_line">
				<p>Кількість зареєстрованих звернень:</p>
				<div>@ViewBag.HousCount</div>
			</div>
		</div>
		<div class="ready_help_text">
			<p>Ми завжди готові проявити участь і допомогти тим, кому дійсно потрібна допомога.</p>
			<a href="/uk/damagedhousing/appform/">Написати звернення</a>
		</div>
	</div>
</div>

<div class="last_restore_container">
	<div class="container">
		<div class="inform_imigrant_name"><a href="/uk/damagedhousing/category/all-houses/">Останні відновленні об`єкти</a></div>
		<div class="last_restore_elems">
			@foreach(var item in Model.RestoreObjects)
			{
				<div class="last_restore_elem">
					<img src='@(CmsSettings.BaseDomain + item.Image)' />
					<a href="/@CurrentCulture.Name.ToLower()/damagedhousing/item/@item.Id/@item.UrlName">
						@item.Title
					</a>
					<div class="last_restore_date">@item.PublishDate</div>
				</div>
			}
		</div>
	</div>
</div>

<div class="how_this_work_container">
	<div class="container">
		<div class="how_this_work_slider owl-carousel">
			@foreach(var item in Model.SlidersNews)
			{
				<div class="item">
					<div class="slide_name">@item.Title</div>
					<div class="slider_text">@item.Description</div>
					<div class="slider_image"><img src='@(CmsSettings.BaseDomain + item.Image)' /></div>
				</div>
			}
		</div>
	</div>
</div>

<!--<div class="can_help_container">
	<div class="container">
		<div class="can_help_title">Ваша некомерційна організація хоче працювати з нашим Центром?</div>
		<div class="can_help_link"><a href="#">Напишіть нам</a></div>
		<div class="can_help_info">Ми завжди готові проявити участь і допомогти тим, кому дійсно потрібна допомога. <a href="#">Приєднуйтесь до нашої спільноти.</a></div>
	</div>
</div>-->
