@model DamagedHousingEdit
@{
	ViewBag.Title = "AppForm";
	Layout = "~/Views/Shared/_secondLayout.cshtml";
}

<div class="main_content">
	<div class="container">
		<h1 class="page_header">Форма звернення з відновлення житла</h1>
		<div class="form_of_appeal_container">
			<form action="/uk/ControlPanel/DamagedHousing/Save" id="" method="post" novalidate="novalidate" data-ajax="true">
				<div class="form_block_with_label">
					@Html.SimpleTextBoxFor(x => x.TitleUk, "Назва об'єкту")
				</div>
				<div class="form_block_with_label form_block_with_label_half">
					<select name="DamagedLevelId" id="" style="display: none;">
						@foreach(var item in Model.DamagedLevel)
						{
							<option value="@item.Value">@item.Name</option>
						}
					</select>
				</div>
				<div class="form_block_with_label form_block_with_label_half">
					<select name="DamagedHousingCategoryId" id="" style="display: none;">
						@foreach(var item in Model.DamagedHousingCategories)
						{
							<option value="@item.Value">@item.Name</option>
						}
					</select>
				</div>
				<div class="form_block_with_label">
					@Html.SimpleTextAreaFor(x => x.DescriptionUk, "Короткий опис стану пошкодження")
				</div>
				<div class="form_block_with_label">
					@Html.SimpleTextBoxFor(x => x.Adress, "Адрес")
				</div>
				<div class="form_block_with_label form_block_with_label_half">
					@Html.SimpleTextBoxFor(x => x.FullName, "Ім'я")
				</div>
				<div class="form_block_with_label form_block_with_label_half">
					@Html.SimpleTextBoxFor(x => x.Email, "Email")
				</div>


				<div class="add_new_files dropzone ">
					<div class="add_new_file_row" id="add_photo">
						<div class="imit_file dz-clickable">Додайте фото</div>
						<p><span>Додайте фото.</span><span>Максимальний розмір файлу — 5 Мб</span></p>
					</div>
					<div class="previewsContainer">

					</div>
				</div>


				@Html.HiddenFor(x => x.Id, new { Value = Model.Id })
				@Html.HiddenFor(x=>x.Image,new { @id = "image-input" })

				<div class="form_of_appeal_checkbox">
					<div class="form_of_appeal_check">
						<input type="checkbox" id="form_of_appeal_checkbox">
						<label for="form_of_appeal_checkbox">Я згоден з правилами звернень громадян та обробки моїх даних</label>
					</div>
					<div class="form_of_appeal_butt"><input class="login_popup_submit" type="submit" value="Додати"></div>
				</div>
			</form>
		</div>
	</div>
</div>
<script>
	$('.previewsContainer').bind("DOMSubtreeModified", function () {
		var huy = $('.previewsContainer #Image').html();
		$('#image-input').val(huy);
		console.log(huy);
	});
</script>