@using Bissoft.CouncilCMS.BLL.ViewModels;
@model RegisteredUser

<div>
    <h2>Запорізька міська рада</h2>
    <hr />
    <em>@DateTime.Now.ToString("dd MMMM yyyy")</em>
    <p>
        Шановний(а), @Model.Name<br /><br />
        Ваш пароль було скинуто @Model.RegisterDate.ToString("dd.MM.yyyy HH:mm"), для Вас згенеровано новий пароль.
        Ви можете увійти в систему за наступним посиланням:<br />
        <a href="@ViewBag.Domain/controlpanel">@ViewBag.Domain/controlpanel</a><br /><br />
        Ваші дані для входу:<br />
        логін: <strong>@Model.Email</strong><br />
        пароль: <strong>@Model.TempPassword</strong><br /><br />
        Ви можете змінити пароль після взоду в ситему керування контентом      
    </p>
</div>
