@model CmsPerson
@{
	ViewBag.Title = Model.Title;
	Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="container">
	<div class="left-content">
		<div class="cms-person">
			<div class="cms-person-header">
				<div class="text">
					<h1>@Html.Raw(Model.Title.Insert(Model.Title.IndexOf(" "), "<br/>"))</h1>
					@if(!String.IsNullOrEmpty(Model.Post))
					{
						<p class="post">@Model.Post</p>
					}
					@if(!String.IsNullOrEmpty(Model.Description))
					{
						<p class="desc">
							@Html.Raw(Model.Description)
						</p>
					}
				</div>
				<img src="@CmsSettings.BaseDomain@(!String.IsNullOrEmpty(Model.Image) ? Model.Image : "/content/img/parts/default-img-1x1.png")" title="@Model.Title" class="img" />
			</div>
			<div class="cms-page">
				@Html.Partial("_prtContent", Model.ContentRows)

				<div class="cms-article-date text-right">
					@if(!String.IsNullOrEmpty(Model.PublishDate))
					{
						<em class="help-text">
							Опубліковано: @Model.PublishDate
						</em>
					}
					@if(!String.IsNullOrEmpty(Model.LastEditDate))
					{
						<em class="help-text">
							(оновлено: @Model.LastEditDate)
						</em>
					}
				</div>
			</div>
		</div>
	</div>
	@*<div class="right-content">
		@Html.Partial("_prtSidebar")
		@if(Model.PersonMenu != null)
		{
			@Html.Partial("_prtSidebarMenu", Model.PersonMenu)
		}
	</div>*@
</div>
<script>
	$(function () {
		coreUtils.createPage($(".page-contents"));
	})
</script>