
@model AccordionContent

@{
    var targetId = Model.IsNew ? ("column" + Model.ContentColumnId + "contents") : ("content" + Model.Id);
    var insMode = Model.IsNew ? InsertionMode.InsertAfter : InsertionMode.ReplaceWith;
}

@using (Ajax.BeginForm(new AjaxOptions()
{
    Url = "/uk/controlpanel/ajax/SaveAccordionContent",
    HttpMethod = "POST",
    InsertionMode = insMode,
    UpdateTargetId = targetId,
    OnSuccess = "bsAdmin.divContentEdit.modal('hide')"
}))
{
    @Html.Hidden("Id", Model.Id, new { Value = Model.Id })
    @Html.HiddenFor(x => x.ContentColumnId)
    @Html.HiddenFor(x => x.Position)

    <div class="remodal-title">
        Меню, що випадає
    </div>
    <div class="row">
        <div class="col-lg-12">
            @Html.SimpleDropDownListFor(x => x.MenuId, Model.Menus, "Меню", new { @class = "form-control bs-select" })
        </div>
    </div>

    <div class="modal-footer">
        @if (Model.IsNew)
        {
            <button type="button" href="#" class="btn btn-link remove-content" data-id="@Model.Id">
                @Locals.Cancle
            </button>
            <button type="submit" class="btn btn-primary">
                @Locals.Add
            </button>
        }
        else
        {
            <button type="button" class="btn btn-link nav-link" data-dismiss="modal">
                @Locals.Close
            </button>
            <button type="submit" class="btn btn-primary">
                @Locals.Save
            </button>
        }
    </div>
}
