
<div class="row">
    <div class="col-sm-3">
        <div class="complete-text text-center link-btn select-content" data-col-id="@ViewBag.ContentColumnId" data-type='Ckeditor'>
            <i class="fa fa-fw fa-file-text-o text-primary icon"></i>
            <div>
                Додати текст
            </div>
        </div>
    </div>
    <div class="col-sm-3">
        <div class="complete-text text-center link-btn select-content" data-col-id="@ViewBag.ContentColumnId" data-type='Collapse'>
            <i class="fa fa-fw fa-expand text-primary icon"></i>
            <div>
                Блок що розгортається
            </div>
        </div>
    </div>
    <div class="col-sm-3">
        <div class="complete-text text-center link-btn select-content" data-col-id="@ViewBag.ContentColumnId" data-type='Image'>
            <i class="fa fa-fw fa-picture-o text-primary icon"></i>
            <div>
               Додати адаптивне зображення
            </div>
        </div>
    </div>
    <div class="col-sm-3">
        <div class="complete-text text-center link-btn select-content" data-col-id="@ViewBag.ContentColumnId" data-type='Gallery'>
            <i class="fa fa-fw fa-camera-retro text-primary icon"></i>
            <div>
                Дадати галерею
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-sm-3">
        <div class="complete-text text-center link-btn select-content" data-col-id="@ViewBag.ContentColumnId" data-type='Table'>
            <i class="fa fa-fw fa-table text-primary icon"></i>
            <div>
                Дадати таблицю
            </div>
        </div>
    </div>
    <div class="col-sm-3">
        <div class="complete-text text-center link-btn select-content" data-col-id="@ViewBag.ContentColumnId" data-type='Video'>
            <i class="fa fa-fw fa-youtube-square text-primary icon"></i>
            <div>
                Додати відео
            </div>
        </div>
    </div>
    <div class="col-sm-3">
        <div class="complete-text text-center link-btn select-content" data-col-id="@ViewBag.ContentColumnId" data-type='Html'>
            <i class="fa fa-fw fa-code text-primary icon"></i>
            <div>
                Додати HTML-код
            </div>
        </div>
    </div>
    <div class="col-sm-3">
        <div class="complete-text text-center link-btn select-content" data-col-id="@ViewBag.ContentColumnId" data-type='Map'>
            <i class="fa fa-fw fa-map-o text-primary icon"></i>
            <div>
                Додати карту
            </div>
        </div>
    </div>
    <div class="col-sm-3">
        <div class="complete-text text-center link-btn select-content" data-col-id="@ViewBag.ContentColumnId" data-type='File'>
            <i class="fa fa-fw fa-file-o text-primary icon"></i>
            <div>
                Додати файл
            </div>
        </div>
    </div>
    <div class="col-sm-3">
        <div class="complete-text text-center link-btn select-content" data-col-id="@ViewBag.ContentColumnId" data-type='Widget'>
            <i class="fa fa-fw fa-puzzle-piece text-primary icon"></i>
            <div>
                Додати віджет
            </div>
        </div>
    </div>
    <div class="col-sm-3">
        <div class="complete-text text-center link-btn select-content" data-col-id="@ViewBag.ContentColumnId" data-type='Menu'>
            <i class="fa fa-fw fa-bars text-primary icon"></i>
            <div>
                Додати меню
            </div>
        </div>
    </div>
    <div class="col-sm-3">
    <div class="complete-text text-center link-btn select-content" data-col-id="@ViewBag.ContentColumnId" data-type='Accordion'>
        <i class="fa fa-fw fa-outdent text-primary icon"></i>
        <div>
            Додати меню, що розкриваэться
        </div>
    </div>
</div>
</div>
<div class="modal-footer">
    <a href="#" type="button" class="btn btn-link nav-link" data-dismiss="modal">
        @Locals.Close
    </a>
    <button type="submit" class="btn btn-primary">
        @Locals.Save
    </button>
</div>
