@model CkeContent

@{
    var targetId = Model.IsNew ? ("column" + Model.ContentColumnId + "contents") : ("content" + Model.Id);
    var insMode = Model.IsNew ? InsertionMode.InsertAfter : InsertionMode.ReplaceWith;
}

<div class="modal-title">
    Текстовий блок
    <ul class="modal-lang-swicher">
        <li data-lang="en">EN</li>
        <li data-lang="ru">RU</li>
        <li class="active" data-lang="uk">UA</li>
    </ul>
</div>

@using (Ajax.BeginForm(new AjaxOptions()
{
    Url = "/uk/controlpanel/ajax/SaveCkeContent",
    HttpMethod = "POST",
    InsertionMode = insMode,
    UpdateTargetId = targetId,
    OnSuccess = "bsAdmin.divContentEdit.modal('hide')"
}))
{
    @Html.Hidden("Id", Model.Id, new { Value = Model.Id })
    @Html.HiddenFor(x => x.ContentColumnId)
    @Html.HiddenFor(x => x.Position)

    
    <div class="form-group">
        <div class="lang-uk">
            @Html.SimpleTextAreaFor(x => x.TextUk, "Текст (ua)", new { @class = "form-control bs-ckeditor", data_toolbar = "simple", data_height = 400 })
        </div>
        <div class="lang-ru">
            @Html.SimpleTextAreaFor(x => x.TextRu, "Текст (ru)", new { @class = "form-control bs-ckeditor", data_toolbar = "simple", data_height = 400 })
        </div>
        <div class="lang-en">
            @Html.SimpleTextAreaFor(x => x.TextEn, "Текст (en)", new { @class = "form-control bs-ckeditor", data_toolbar = "simple", data_height = 400 })
        </div>
    </div>

    <div class="modal-footer">
        @if (Model.IsNew)
        {
            <button type="button" href="#" class="btn btn-link remove-content" data-id="@Model.Id">
                @Locals.Cancle
            </button>
            <button type="submit" class="btn btn-primary">
                @Locals.Add
            </button>
        }
        else
        {
            <button type="button" class="btn btn-link nav-link" data-dismiss="modal">
                @Locals.Close
            </button>
            <button type="submit" class="btn btn-primary">
                @Locals.Save
            </button>
        }
    </div>
}
