@model CheckedListItem


<div class="form-group level-@Model.Level">
    <div class="checkbox">
        <label>
            @if (Model.Allowed)
            {
                @Html.CheckBoxFor(x => x.IsChecked, new { @class = "input" })
            }
            else
            {
                @Html.CheckBoxFor(x => x.IsChecked, new { @class = "input", @disabled = "disabled" })
            }
            @Html.HiddenFor(x => x.Value, new { @class = "input" })
            @Html.HiddenFor(x => x.Name, new { @class = "input" })
            <span>@Model.Name</span>
        </label>
    </div>
</div>
