@model DocFileUpload

<div class="modal-title">
    Файл документа
    <ul class="modal-lang-swicher">
        <li data-lang="en">EN</li>
        <li data-lang="ru">RU</li>
        <li class="active" data-lang="uk">UA</li>
    </ul>
</div>

@using (Ajax.BeginForm(new AjaxOptions()
{
    Url = "/uk/controlpanel/docs/addfile",
    HttpMethod = "POST",
    OnBegin = "bsAdmin.startProcessing();",
    OnComplete = "bsAdmin.endProcessing(); window.divFileUpload.modal('hide');",
    UpdateTargetId = "divFileList",
    InsertionMode = InsertionMode.InsertAfter,
}))
{
    @Html.HiddenFor(x => x.Id, new { Value = Model.Id })
    @Html.HiddenFor(x => x.DocId, new { Value = Model.DocId })
    @Html.HiddenFor(x => x.File, new { Value = Model.File })
    @Html.HiddenFor(x => x.Extension, new { Value = Model.Extension })
    @Html.HiddenFor(x => x.Size, new { Value = Model.Size })

    <div>
        <div class="lang-uk">
            @Html.SimpleTextBoxFor(x => x.TitleUk, "Текст посилання (ua)", new { @class = "form-control" })
        </div>
        <div class="lang-ru">
            @Html.SimpleTextBoxFor(x => x.TitleRu, "Текст посилання (ru)", new { @class = "form-control" })
        </div>
        <div class="lang-en">
            @Html.SimpleTextBoxFor(x => x.TitleEn, "Текст посилання (en)", new { @class = "form-control" })
        </div>
    </div>
    
    <div class="row">
        <div class="col-sm-2">
            <div class="form-group">
                <label class="control-label">Розмір</label>
                <div class="form-control-static">
                    @(Model.Size > 1024 ? ((Model.Size / 1024) + " mb") : (Model.Size + " kb"))
                </div>
            </div>
        </div>
        <div class="col-sm-2">
            <div class="form-group">
                <label class="control-label">Тип</label>
                <div class="form-control-static">@Model.Extension</div>
            </div>
        </div>
        <div class="col-sm-8">
            <div class="form-group">
                <label class="control-label">Посилання</label>
                <div class="form-control-static">@Model.File </div>
            </div>
        </div>
    </div>

    <div class="modal-footer">
        <a href="#" type="button" class="btn btn-link nav-link" data-dismiss="modal">
            @Locals.Close
        </a>
        <button type="submit" class="btn btn-primary">
            @Locals.Save
        </button>
    </div>

}

